@model AnkietaP.Models.pytanie


<table class="table"> 
   @* @foreach (var item in Model.opcjes) *@
    
        <tr>
            <td>
               @*  @Html.DisplayFor(modelItem => item.nazwa) *@
               @* @Html.DisplayFor(model => model.ankieta.opis) *@
                @Html.DisplayFor(model => model.tresc)
            </td>
            <td>
                <input class="btn btn-default" type="button" value="Tak" onclick="location.href='@Url.Action("UpdateB","wynik_bool", new { @id = Model.id_pytanie , @tab = 2   })'" />
                <input  class="btn btn-default" type="button" value="Nie" onclick="location.href='@Url.Action("UpdateB","wynik_bool", new { @id = Model.id_pytanie , @tab = 3   })'" />
            </td>
            


        </tr>
    
</table>
