@model AnkietaP.Models.mieszkaniec

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron" style="background-color: white ">
    <div class="container" align="center">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/ludki_rozmowa.jpg" />
            </div>


            <div class="col-sm-6">

                <h4>
                    <br />
                    <br />
                    Tu znajdziesz swoje dane, jeśli chcesz je zmienić kliknij Edytuj.
                    Możesz także przystąpić do wypełniania ankiety.
                </h4>

            </div>


        </div>

    </div>
</div>


<div class="jumbotron">
    <div class="container" align="left">
        <div class="row">
           <h2 align="center"> Twoje Dane:   </h2> 
            <hr />
            <div class="col-sm-6" align="center">  
                    <h3>
                        Pesel:
                        @Html.DisplayFor(model => model.pesel)
                    </h3>
                    <h3>
                        Imię:
                        @Html.DisplayFor(model => model.imie)
                    </h3>
                    <h3>
                        Nazwisko:
                        @Html.DisplayFor(model => model.nazwisko)
                    </h3>
                    <h3>
                        Telefon:
                        @Html.DisplayFor(model => model.telefon)
                    </h3>
                    <h3>
                        E-mail:
                        @Html.DisplayFor(model => model.email)
                    </h3>
                    <input class="btn btn-default" type="submit" value="Edytuj" onclick="location.href='@Url.Action("Edit", new { id = Model.id_mieszkaniec, tab=3 }), null)'" />
                 
                </div>
            <div class="col-sm-6" align="center">

                <img class="img-responsive" src="~/Content/ludzik4.jpg" style="box-shadow:4px 4px 12px " />

            </div>
        </div>
    </div>
</div>


<div class="jumbotron" style="background-color:darkblue">

    <h2 style="color:white"  align="center"> Ankiety:   </h2>
     
    <hr />
    <p style="color:white">
       Kliknij w przycisk, żeby przejść do widoku ankiet: 
        <br />
        <input type="button" value="Dalej" onclick="location.href='@Url.Action("Lista", "ankietas", new { id = Model.id_mieszkaniec }, null)'" />

    </p>
     </div>

