@model AnkietaP.Models.wynik_lista

@{
    ViewBag.Title = "Details";
    

<h2>Details</h2>

<div>
    <h4>wynik_lista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ilosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opcje.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opcje.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_wynik_lista }) |
    @Html.ActionLink("Back to List", "Index")
</p>
